body {
    background-color: #E0E0E0;
    font-family: sans-serif;
}

.formulary {
    padding: 1%;
}

form {
    padding: 1%;
}

footer {
    text-align: center;
    font-size: small;
}